<!--- FOOTER --->
<footer class="footer-before-login gt-margin-top-25">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-8 col-sm-16 col-md-8">
                <h5 class="gt-text-green">
                    Help And Support
                </h5>
                <ul class="">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Refund policy</a></li>
                </ul>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-8 col-sm-16 col-md-8">
                <h5 class="gt-text-green">
                    Terms & Policy
                </h5>
                <ul class="">
                    <li><a href="cms?cms_id=7">Terms & Condition</a></li>
                    <li><a href="cms?cms_id=6">Privacy Policy</a></li>
                    <li><a href="cms?cms_id=15">Report Misuse</a></li>
                </ul>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-8 col-sm-16 col-md-8">
                <h5 class="gt-text-green">
                    Need Help?
                </h5>
                <ul class="">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/">Register</a></li>
                    <li><a href="/membership"><i class="fa fa-star gt-text-orange"></i> Upgrade Membership</a></li>
                </ul>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-8 col-sm-16 col-md-8">
                <h5 class="gt-text-green">
                    Information
                </h5>
                <ul class="">
                    <li><a href="/success-story">Success Story</a></li>
                    <li><a href="cms?cms_id=8">About us</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-16">
                <h5 class="gt-text-green">About Us</h5>
                <p>Welcome to Vivah</p>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-16 text-center">
                <h5 class="gt-text-green">
                    Join us on social
                </h5>
                <ul class="gt-footer-social">
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="https://www.googleplus.com" target="_blank"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid gt-footer-bottom">
    <div class="row">
        <div class="container text-center">
            All Rights Reserved By @ <a href="#">Design and developed by Sciencesoft</a>
        </div>
    </div>
</div>
<!--- FOOTER END--->