{% extends 'base.html' %}
{% load static %}

{% block content %}

<html>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <!-- To decrese notification count when click on notification-->
                <script>
                    function notification(noti_id) {
                        $.ajax({
                            url: "web-services/notification",
                            type: "POST",
                            data: "noti_id=" + noti_id,
                            cache: false,
                            success: function(response) {
                                location.reload();

                            }
                        });
                        return true;
                    }
                </script>
                <!-- HEADER END-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Photo Like FB DP</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<h1>Upload Your Profile Pitcher</h1>

<div class="profile-pic-div">
  <img src="{% static 'img/image.jpg' %}" id="photo">
  <input type="file" id="file">
  
  <label for="file" id="uploadBtn">Choose Photo</label>
</div>

<form action="save_pic">
    <div class="container">
         <img src="{% static 'img/img_light.png' %}" alt="Snow" style="width:100%; height:500">
        <button class="btn1">Delete</button>
    </div>
    <div class="container">
        <button class="btn2" >Save</button>
    </div>
</form>

<script src="{% static 'js/app.js' %}"></script>

</body>
</html>

<script type="text/javascript">
            var auto_refresh = setInterval(
                function() {
                    $('#count').load('parts/online').fadeIn("slow");
                }, 15000); // refresh every 10 second
        </script>
        <script src="/static/js/jquery.min.js"></script>
        <small class="pull-right">
  </small>
        <!---- ONLINE CHAT WIDGET END--->


        <a href="/feedback" style="position: absolute;left: 0;top: 30%;z-index: 1;">
 <img src="/static/img/feedback.png" style="height:100px;width:30px;position:fixed;top:200;left:0">
</a>


        <script>
            $(function() {
                $('#thanksMessage').on('show.bs.modal', function() {
                    var myModal = $(this);
                    clearTimeout(myModal.data('hideInterval'));
                    myModal.data('hideInterval', setTimeout(function() {
                        myModal.modal('hide');
                    }, 2000));
                });
            });
        </script>
        <!--- FEEDBACK MODAL END --->

        <!--- GOOGLE ANALYTICS CODE --->
        <script>
            var id = 'UA-demo1';
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', id, 'auto');
            ga('send', 'pageview');
        </script>
        <!--- GOOGLE ANALYTICS CODE END --->


    </div>

    <!-- Jquery --->
    <script src="/static/js/jquery.min.js"></script>
    <!--- Jquery END --->
    <!--- BOOTSTRAP AND GREEN JS--->
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/green.js"></script>
    <!--- BOOTSTRAP AND GREEN JS END--->
    <!--- LOADER JS--->
    <script>
        $(document).ready(function() {
            $('#body').show();
            $('.preloader-wrapper').hide();
        });
    </script>
    <!--- LOADER JS END --->
    <!---- VALIDATION JS --->
    <script type="text/javascript" src="/static/js/validetta.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#login_form').validetta({
                errorClose: false,
                custom: {
                    regname: {
                        pattern: /^[\+][0-9]+?$|^[0-9]+?$/,
                        errorMessage: 'Custom Reg Error Message !'
                    },
                    example: {
                        pattern: /^[\+][0-9]+?$|^[0-9]+?$/,
                        errorMessage: 'Lan mal !'
                    }
                },
                realTime: true
            });
        });
    </script>
    <!---- VALIDATION JS END --->
</body>

<script>
    $(document).ready(function() {
        dis_thumbnail();
    });

    function dis_thumbnail() {
        var dataString = '';
        jQuery.ajax({
            url: "./web-services/display_thumbnail",
            type: "POST",
            data: dataString,
            cache: false,
            success: function(response) {
                $("#dis_thumbnail").html('');
                $("#dis_thumbnail").append(response);
            },
        });
    }
</script>

{% endblock %}